@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
         url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe';
    src: url('../fonts/Segoe-Ui-Semibold.eot');
    src: url('../fonts/Segoe-Ui-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Segoe-Ui-Semibold.woff') format('woff'),
         url('../fonts/Segoe-Ui-Semibold.ttf') format('truetype'),
         url('../fonts/Segoe-Ui-Semibold.svg#Segoe') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe-Regular';
    src: url('../fonts/Segoe-Ui-Regular.eot');
    src: url('../fonts/Segoe-Ui-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Segoe-Ui-Regular.woff') format('woff'),
         url('../fonts/Segoe-Ui-Regular.ttf') format('truetype'),
         url('../fonts/Segoe-Ui-Regular.svg#Segoe-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_UTM Swiss CondensedBold';
    src: url('../fonts/UTM-Swiss-CondensedBold.eot');
    src: local('☺'), url('../fonts/UTM-Swiss-CondensedBold.woff') format('woff'), url('../fonts/UTM-Swiss-CondensedBold.ttf') format('truetype'), url('../fonts/UTM-Swiss-CondensedBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_UTM Swiss Condensed';
    src: url('../fonts/UTM-Swiss-Condensed.eot');
    src: local('☺'), url('../fonts/UTM-Swiss-Condensed.woff') format('woff'), url('../fonts/UTM-Swiss-Condensed.ttf') format('truetype'), url('../fonts/UTM-Swiss-Condensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}