* {transition: background 0.3s;}
body {
	background: #f2f2f2;
	font-family: "RobotoRegular";
}

.navbar, .panel, .btn, .label, .dropdown-menu, .pagination, .form-control, .input-group-addon,
.panel-group .panel, .alert, .nav-tabs>li>a {
	border-radius: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span,
.panel-heading {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.pull-center {
	text-align: center;
}
.unliststyle {
	list-style: none;
	padding: 0px 10px;
}
ul.account li {
	list-style-image: url('../img/chevon.png');
}
.money-down {
	color: #D53535;
	font-size: 30px;
	line-height: 15px;
}
.money-up {
	color: #5cb85c;
	font-size: 22px;
	line-height: 15px;	
}
.vip-hidden {
	display: none;
}
.tip-type {
	min-width: 82px;
}

/*** HEADER ***/
#main-header {
	background: #FFF;
}
h1.site_name {
	margin-top: 0px;
}
#top-ads {
	margin-top: 10px;
}

/*** NAVBAR ***/
#nav .navbar, #nav .navbar .dropdown-menu {
	border-left: 0;
	border-right: 0;
	background: #1E3B98;
	
}
#nav .navbar a {
	color: #FFF;
}
#nav .navbar .active a, 
#nav .navbar a:hover, 
#nav .navbar-default .navbar-nav>.open>a:focus,
#nav .navbar-nav>.open>a {
	background: #7F91CB;
}


/*** PRIMARY ***/
#main-content {
	background: #FFF;
}
#sidebar {
	padding-right: 0;
}
@media (max-width: 768px) { 
	#sidebar {
		padding-left: 0;
	}
}
ul.ul-inline {
	
	list-style: none;
}
ul.ul-inline li {
	display: inline;
}
.socials {
	padding: 8px 10px;
}
.socials a span {
	padding: 10px 10px; 
}
.socials a span.fa-facebook {
	background: #5948E8;
	color:#FFF;
	padding: 10px 12px;
}
.socials a:hover span.fa-facebook {
	background: #2B1DA0;
}
.socials a span.fa-twitter {
	background: #55acee;
	color: #FFF
}
.socials a:hover span.fa-twitter {
	background: #90C5ED;
}
.socials a span.fa-google-plus {
	background: #D53535;
	color: #FFF;
}
.socials a:hover span.fa-google-plus {
	background: #F07171;
}
.new-tipser {
	background: url(../img/icon-new.gif) no-repeat;
}
.tip-win {
	background: url(http://i.imgur.com/GF2xULv.gif);
	width: 40px;
	height: 15px;
	display: block;
}


/*** PRIMARY ***/
#main-content {
	border: 1px solid #DDD;
	box-shadow: 2px 2px #ECECEC;
	margin-bottom: 20px;
}
.t3-star i.fa-star {
	color: #E7E423;
}
.t4-star i.fa-star {
	color: #2B1DA0;
}
.t5-star i.fa-star {
	color: #FF0000;
}
.captcha .input-group-addon {
	padding: 0;
}
.captcha .input-group-addon img:hover {
	cursor: pointer;
}
.datetimepicker .input-group-addon:hover {
	cursor: pointer;
}
.nav-tabs {
	margin-bottom: 15px;
}
.napngay_captcha {
	width: 80px;
	height: 34px;
}
label.cards {
	width: 20%;
}
label.cards img {
	margin-left: -30px;
	margin-top: 15px;
}
.radio input[name=card_type]  {
	margin-left: -10px;
}
.tip-bought {
	color: #DF1111;
	font-weight: bold;
}
.table>tbody>tr>td {
	font-size: 13px;
}

/*** SIDEBAR ***/
#sidebar .wiget-title {
	background: #425AA6;
	color: #FFF;
	
}


/*** FOOTER ***/
#footer {
	background: #11276E;
	bottom: 0;
	color: #FFF;
	height: 50px;
}
p.copyright {
	margin-bottom: 0;
}