{include file="$view_dir/layouts/header.tpl"}
						<h3>Nạp tiền vào tài khoản</h3>
						<hr>
						
						<div role="tabpanel">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class=""><a href="deposit.html">Chuyển Khoản</a></li>
								<li role="presentation" class="active"><a href="baokim.html">Bảo Kim</a></li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="bank">
									<i>Chức năng này đang được nâng cấp</i>
									<div style="margin-bottom: 30px;"></div>
								</div>
    							<div role="tabpanel" class="tab-pane" id="cards">
    								
    							</div>
							</div>
						</div>
{include file="$view_dir/layouts/footer.tpl"}